[submodule "GUIslice"]
	path = GUIslice
	url = https://github.com/gravity-addiction/GUIslice.git
[submodule "xdotool"]
	path = xdotool
	url = https://github.com/gravity-addiction/xdotool.git
[submodule "SDL"]
	path = SDL
	url = https://github.com/gravity-addiction/SDL-mirror.git
	branch = SDL12
[submodule "tslib"]
	path = tslib
	url = https://github.com/gravity-addiction/tslib.git
[submodule "jsmn"]
	path = jsmn
	url = https://github.com/gravity-addiction/jsmn
[submodule "WiringPi"]
	path = WiringPi
	url = https://github.com/gravity-addiction/WiringPi
