[submodule "GUIslice"]
	path = GUIslice
	url = https://github.com/gravity-addiction/GUIslice.git
[submodule "xdotool"]
	path = xdotool
	url = https://github.com/gravity-addiction/xdotool.git
[submodule "SDL"]
	path = SDL
	url = https://github.com/gravity-addiction/SDL-mirror.git
	branch = SDL12
