[Unit]
Description=MPV Startup

[Service]
Type=idle
Restart=yes

PIDFile=/run/mpv.pid
User=pi
Group=pi

ExecStart=/usr/bin/mpv --video-sync=display-resample --hr-seek-framedrop=yes --input-ipc-server=/tmp/mpv.socket --no-osc --osd-level=0 --no-osd-bar --osd-on-seek=no --reset-on-next-file=all --keep-open=always --loop-playlist --image-display-duration=10 --idle
StandardOutput=/dev/null
StandardError=/dev/null

[Install]
WantedBy=multi-user.target
