[Unit]
Description=PWM Fan Control

[Service]
Type=simple
User=root
ExecStart=/opt/sdobox/bin/fan_ctrl.py
Restart=on-failure

[Install]
WantedBy=default.target