[Unit]
Description=PWM Fan Control

[Service]
Type=simple
User=root
ExecStart=/usr/local/scripts/fan_ctrl.py
Restart=always

[Install]
WantedBy=default.target