[Unit]
Description=SDOBOX Service
After=mpv.service

[Service]
Type=idle
Restart=on-failure

PIDFile=/tmp/sdobox.pid
ExecStart=/usr/local/bin/sdobox


KillSignal=SIGINT
KillMode=process
User=pi
WorkingDirectory=/home/pi/shared
Environment="SDL_NOKEYBOARD=1"

# Debugging Settings
StandardError=null
StandardOutput=null
# Environment="DBGMASK=1111111111"
# ExecStart=sudo /home/pi/Downloads/sdobox/touchapp

[Install]
WantedBy=multi-user.target
